
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Digital Voucher System</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form method="POST" class="form-signin">
        {% csrf_token %}
        <i class="fa fa-phone" aria-hidden="true"></i>
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Enter image URL</h1>
      <label for="inputEmail" class="sr-only">+254797584194</label>
      <input type="text" name="url" class="form-control" placeholder="Image URL" required autofocus>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Process Payment</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021 alienXconnections</p>
    </form>
  </body>
</html>
